/Proyecto(Registro, inicio de sesión, observer y bases analisis)/Proyecto/ProyectoCliente/nbproject/private/
/Proyecto(Registro, inicio de sesión, observer y bases analisis)/Proyecto/ProyectoCliente/build/
/Proyecto(Registro, inicio de sesión, observer y bases analisis)/Proyecto/ProyectoServidor/nbproject/private/
/Proyecto(Registro, inicio de sesión, observer y bases analisis)/Proyecto/ProyectoServidor/build/
/Proyecto(Registro, inicio de sesión, observer y bases analisis)/Proyecto/ProyectoServidor/dist/
